In [1]:
pip install imblearn

Requirement already satisfied: imblearn in d:\programdata\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in d:\programdata\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: joblib>=1.1.1 in d:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in d:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=1.0.2 in d:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in d:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
from sklearn import metrics 
from sklearn.model_selection import train_test_split
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from imblearn.combine import SMOTEENN                     # FOR UPSAMPLING AND DOWNSAMPLING

In [3]:
df=pd.read_csv(r"C:\\Users\\tarun\tel_churn.csv")

In [4]:
df.head()

,Unnamed: 0,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,0,29.85,29.85,0,1,0,0,1,1,...,0,0,1,0,0,0,0,0,0,0
1,1,0,56.95,1889.50,0,0,1,1,0,1,...,0,0,0,1,0,0,1,0,0,0
2,2,0,53.85,108.15,1,0,1,1,0,1,...,0,0,0,1,1,0,0,0,0,0
3,3,0,42.30,1840.75,0,0,1,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,4,0,70.70,151.65,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,0

In [5]:
df=df.drop("Unnamed: 0",axis=1)

In [6]:
df.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,0,1,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
1,0,56.95,1889.50,0,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,0

### Dividing the data into independent and dependent variable

In [7]:
X=df.drop("Churn",axis=1)

In [8]:
X

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,PhoneService_No,...,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,tenure_group_1 - 12,tenure_group_13 - 24,tenure_group_25 - 36,tenure_group_37 - 48,tenure_group_49 - 60,tenure_group_61 - 72
0,0,29.85,29.85,1,0,0,1,1,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,56.95,1889.50,0,1,1,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,0,53.85,108.15,0,1,1,0,1,0,0,...,0,0,0,1,1,0,0,0,0,0
3,0,42.30,1840.75,0,1,1,0,1,0,1,...,1,0,0,0,0,0,0,1,0,0
4,0,70.70,151.65,1,0,1,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0,84.80,1990.50,0,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,0
7028,0,103.20,7362.90,1,0,0,1,0,1,0,...,0,1,0,0,0,0,0,0,0,1
7029,0,29.60,346.45,1,0,0,1,0,1,1,...,0,0,1,0,1,0,0,0,0,0
7030,1,74.40,306.60,0,1,0,1,1,0,0,...,0,0,0,1,1,0,0,0,0,0
7031,0,105.65,6844.50,0,1,1,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1

In [9]:
Y=df["Churn"]

In [10]:
Y

0       0
1       0
2       1
3       0
4       1
       ..
7027    0
7028    0
7029    0
7030    1
7031    0
Name: Churn, Length: 7032, dtype: int64

### Train Test Split

In [11]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

### Decision Tree Classifier

In [12]:
Model_DT=DecisionTreeClassifier(criterion="gini",max_depth=6,min_samples_leaf=8,random_state=100)

In [13]:
Model_DT.fit(X_train,Y_train)          #training the model

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [14]:
Y_pred=Model_DT.predict(X_test)   #testing the model

In [15]:
Y_pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

It takes a feature matrix X_test and the expected target values y_test.
Predictions for X_test are compared with y_test and either accuracy (for classifiers) or
R² score (for regression estimators is returned.

In [16]:
Model_DT.score(X_test,Y_test)         #Evaluating the model sort of accuracy only

0.783226723525231

In [17]:
print(classification_report(Y_test,Y_pred,labels=[0,1]))

              precision    recall  f1-score   support

           0       0.82      0.91      0.86      1037
           1       0.63      0.44      0.51       370

    accuracy                           0.78      1407
   macro avg       0.72      0.67      0.69      1407
weighted avg       0.77      0.78      0.77      1407

classification_report to compare predicted values to real ones

Collection of all the metrics is class classification report

In [18]:
#MY WAY
cm = confusion_matrix(Y_test, Y_pred)
print(cm)

[[941  96]
 [209 161]]

In [19]:
from sklearn.metrics import accuracy_score #mine

In [20]:
accuracy_score(Y_test, Y_pred)

0.783226723525231

As you can see that accuracy is quite low and the dataset is imbalanced ,we shouldn't consider accuracy as our metrics to
measure the model ,as accuracy is cursed in imbalanced dataset.
hence we need to check precision,recall,f1 score for the minority class,its quite evident that precision,recall,f1 score are too low for the class 1 i.e churned custoer.
hence moving ahead to call SMOTEENN(UpSampling + ENN)

In [21]:
sm =SMOTEENN()    #CREATING OBJECT
X_resampled1,Y_resampled1= sm.fit_resample(X,Y)         #need to use fit_resample to create independent and dependent variable

In [22]:
Xr_train,Xr_test,Yr_train,Yr_test=train_test_split(X_resampled1,Y_resampled1,test_size=0.2)

In [23]:
Model_DT_Smote=DecisionTreeClassifier(criterion="gini",random_state=100,max_depth=6,min_samples_leaf=8)

In [24]:
Model_DT_Smote.fit(Xr_train,Yr_train)

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [25]:
Yr_pred =Model_DT_Smote.predict(Xr_test)

In [26]:
Yr_pred

array([1, 1, 1, ..., 1, 0, 1], dtype=int64)

In [27]:
Model_DT_Smote.score(Xr_test,Yr_test)

0.9319727891156463

In [29]:
print(metrics.classification_report(Yr_test,Yr_pred))      #use print to get output in a frame

              precision    recall  f1-score   support

           0       0.91      0.95      0.93       537
           1       0.95      0.92      0.94       639

    accuracy                           0.93      1176
   macro avg       0.93      0.93      0.93      1176
weighted avg       0.93      0.93      0.93      1176

In [31]:
print(metrics.confusion_matrix(Yr_test,Yr_pred))

[[509  28]
 [ 52 587]]

### Random Forest Classifier

In [33]:
from sklearn.ensemble  import RandomForestClassifier

In [34]:
Model_RF = RandomForestClassifier(n_estimators=100,criterion="gini",random_state=100,max_depth=6,min_samples_leaf=8)

In [35]:
Model_RF.fit(X_train,Y_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [36]:
Yrf_pred=Model_RF.predict(X_test)

In [37]:
Model_RF.score(X_test,Y_test)

0.7917555081734187

In [38]:
print(classification_report(Y_test,Yrf_pred))

              precision    recall  f1-score   support

           0       0.83      0.90      0.86      1037
           1       0.64      0.48      0.55       370

    accuracy                           0.79      1407
   macro avg       0.73      0.69      0.71      1407
weighted avg       0.78      0.79      0.78      1407

In [39]:
sm1 = SMOTEENN()

In [40]:
X_resampled2,Y_resampled2=sm1.fit_resample(X,Y)

In [41]:
Xrf1_train,Xrf1_test,Yrf1_train,Yrf1_test=train_test_split(X_resampled2,Y_resampled2,test_size=0.2)

In [42]:
Model_RF_Smote=RandomForestClassifier(n_estimators=100,criterion="gini",random_state=100,max_depth=6,min_samples_leaf=8)

In [43]:
Model_RF_Smote.fit(Xrf1_train,Yrf1_train)

RandomForestClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [44]:
Yrf1_pred=Model_RF_Smote.predict(Xrf1_test)

In [45]:
Model_score1=Model_RF_Smote.score(Xrf1_test,Yrf1_test)

In [46]:
print(Model_score1)

0.9322033898305084

In [49]:
print(classification_report(Yrf1_test,Yrf1_pred))      #order also matters so write test then pred

              precision    recall  f1-score   support

           0       0.95      0.89      0.92       522
           1       0.92      0.96      0.94       658

    accuracy                           0.93      1180
   macro avg       0.93      0.93      0.93      1180
weighted avg       0.93      0.93      0.93      1180

In [50]:
print(metrics.confusion_matrix(Yrf1_test,Yrf1_pred))

[[467  55]
 [ 25 633]]

#### decison tree and random forest both giving same accuracy